.card {
    width: 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}